<?xml version="1.0" encoding="iso-8859-1"?>

<project>
  <fileVersion>2</fileVersion>
  <configuration>
    <name>MBED_12</name>
    <toolchain>
      <name>ARM</name>
    </toolchain>
    <debug>1</debug>
    <settings>
      <name>General</name>
      <archiveVersion>3</archiveVersion>
      <data>
        <version>24</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>GRuntimeLibThreads</name>
          <state>0</state>
        </option>
        <option>
          <name>ExePath</name>
          <state>$PROJ_DIR$\build\Exe</state>
        </option>
        <option>
          <name>ObjPath</name>
          <state>$PROJ_DIR$\build\Obj</state>
        </option>
        <option>
          <name>ListPath</name>
          <state>$PROJ_DIR$\build\List</state>
        </option>
        <option>
          <name>GEndianMode</name>
          <state>0</state>
        </option>
        <option>
          <name>Input variant</name>
          <version>3</version>
          <state>1</state>
        </option>
        <option>
          <name>Input description</name>
          <state>Full formatting.</state>
        </option>
        <option>
          <name>Output variant</name>
          <version>2</version>
          <state>3</state>
        </option>
        <option>
          <name>Output description</name>
          <state>No specifier a, A.</state>
        </option>
        <option>
          <name>GOutputBinary</name>
          <state>0</state>
        </option>
        <option>
          <name>OGCoreOrChip</name>
          <state>1</state>
        </option>
        <option>
          <name>GRuntimeLibSelect</name>
          <version>0</version>
          <state>2</state>
        </option>
        <option>
          <name>GRuntimeLibSelectSlave</name>
          <version>0</version>
          <state>2</state>
        </option>
        <option>
          <name>RTDescription</name>
          <state>Use the full configuration of the C/C++ runtime library. Full locale interface, C locale, file descriptor support, multibytes in printf and scanf, and hex floats in strtod.</state>
        </option>
        <option>
          <name>OGProductVersion</name>
          <state>5.10.0.159</state>
        </option>
        <option>
          <name>OGLastSavedByProductVersion</name>
          <state>7.50.3.10745</state>
        </option>
        <option>
          <name>GeneralEnableMisra</name>
          <state>0</state>
        </option>
        <option>
          <name>GeneralMisraVerbose</name>
          <state>0</state>
        </option>
        <option>
          <name>OGChipSelectEditMenu</name>
          <state>LPC1768	NXP LPC1768</state>
        </option>
        <option>
          <name>GenLowLevelInterface</name>
          <state>0</state>
        </option>
        <option>
          <name>GEndianModeBE</name>
          <state>1</state>
        </option>
        <option>
          <name>OGBufferedTerminalOutput</name>
          <state>0</state>
        </option>
        <option>
          <name>GenStdoutInterface</name>
          <state>0</state>
        </option>
        <option>
          <name>GeneralMisraRules98</name>
          <version>0</version>
          <state>1000111110110101101110011100111111101110011011000101110111101101100111111111111100110011111001110111001111111111111111111111111</state>
        </option>
        <option>
          <name>GeneralMisraVer</name>
          <state>0</state>
        </option>
        <option>
          <name>GeneralMisraRules04</name>
          <version>0</version>
          <state>111101110010111111111000110111111111111111111111111110010111101111010101111111111111111111111111101111111011111001111011111011111111111111111</state>
        </option>
        <option>
          <name>RTConfigPath2</name>
          <state>$TOOLKIT_DIR$\INC\c\DLib_Config_Full.h</state>
        </option>
        <option>
          <name>GBECoreSlave</name>
          <version>22</version>
          <state>38</state>
        </option>
        <option>
          <name>OGUseCmsis</name>
          <state>0</state>
        </option>
        <option>
          <name>OGUseCmsisDspLib</name>
          <state>0</state>
        </option>
        <option>
          <name>CoreVariant</name>
          <version>22</version>
          <state>38</state>
        </option>
        <option>
          <name>GFPUDeviceSlave</name>
          <state>LPC1768	NXP LPC1768</state>
        </option>
        <option>
          <name>FPU2</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>NrRegs</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>NEON</name>
          <state>0</state>
        </option>
        <option>
          <name>GFPUCoreSlave2</name>
          <version>22</version>
          <state>38</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>ICCARM</name>
      <archiveVersion>2</archiveVersion>
      <data>
        <version>31</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>CCOptimizationNoSizeConstraints</name>
          <state>0</state>
        </option>
        <option>
          <name>CCDefines</name>
          <state>__CORTEX_M3</state>
          <state>ARM_MATH_CM3</state>
          <state>TARGET_LIKE_CORTEX_M3</state>
          <state>TARGET_CORTEX_M</state>
          <state>TARGET_LIKE_MBED</state>
          <state>TARGET_LPC176X</state>
          <state>TARGET_NXP</state>
          <state>TARGET_LPC1768</state>
          <state>MBED_BUILD_TIMESTAMP=1456180263.22</state>
          <state>TARGET_M3</state>
          <state>TOOLCHAIN_IAR</state>
          <state>TARGET_MBED_LPC1768</state>
          <state>__MBED__=1</state>
        </option>
        <option>
          <name>CCPreprocFile</name>
          <state>0</state>
        </option>
        <option>
          <name>CCPreprocComments</name>
          <state>0</state>
        </option>
        <option>
          <name>CCPreprocLine</name>
          <state>0</state>
        </option>
        <option>
          <name>CCListCFile</name>
          <state>1</state>
        </option>
        <option>
          <name>CCListCMnemonics</name>
          <state>0</state>
        </option>
        <option>
          <name>CCListCMessages</name>
          <state>0</state>
        </option>
        <option>
          <name>CCListAssFile</name>
          <state>1</state>
        </option>
        <option>
          <name>CCListAssSource</name>
          <state>0</state>
        </option>
        <option>
          <name>CCEnableRemarks</name>
          <state>0</state>
        </option>
        <option>
          <name>CCDiagSuppress</name>
          <state></state>
        </option>
        <option>
          <name>CCDiagRemark</name>
          <state></state>
        </option>
        <option>
          <name>CCDiagWarning</name>
          <state></state>
        </option>
        <option>
          <name>CCDiagError</name>
          <state></state>
        </option>
        <option>
          <name>CCObjPrefix</name>
          <state>1</state>
        </option>
        <option>
          <name>CCAllowList</name>
          <version>1</version>
          <state>00000000</state>
        </option>
        <option>
          <name>CCDebugInfo</name>
          <state>1</state>
        </option>
        <option>
          <name>IEndianMode</name>
          <state>1</state>
        </option>
        <option>
          <name>IProcessor</name>
          <state>1</state>
        </option>
        <option>
          <name>IExtraOptionsCheck</name>
          <state>1</state>
        </option>
        <option>
          <name>IExtraOptions</name>
          <state></state>
          <state>--no_rtti</state>
          <state>--no_exceptions</state>
          <state>--diag_suppress=Pa050,Pa084,Pa093,Pa082</state>
        </option>
        <option>
          <name>CCLangConformance</name>
          <state>0</state>
        </option>
        <option>
          <name>CCSignedPlainChar</name>
          <state>1</state>
        </option>
        <option>
          <name>CCRequirePrototypes</name>
          <state>0</state>
        </option>
        <option>
          <name>CCMultibyteSupport</name>
          <state>0</state>
        </option>
        <option>
          <name>CCDiagWarnAreErr</name>
          <state>0</state>
        </option>
        <option>
          <name>CCCompilerRuntimeInfo</name>
          <state>0</state>
        </option>
        <option>
          <name>IFpuProcessor</name>
          <state>0</state>
        </option>
        <option>
          <name>OutputFile</name>
          <state>$FILE_BNAME$.o</state>
        </option>
        <option>
          <name>CCLibConfigHeader</name>
          <state>0</state>
        </option>
        <option>
          <name>PreInclude</name>
          <state></state>
        </option>
        <option>
          <name>CompilerMisraOverride</name>
          <state>0</state>
        </option>
        <option>
          <name>CCIncludePath2</name>
          <state>$PROJ_DIR$\env</state>
          <state>$PROJ_DIR$\mbed</state>
          <state>$PROJ_DIR$\mbed\TARGET_LPC1768</state>
          <state>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X</state>
          <state>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\TARGET_MBED_LPC1768</state>
          <state>$PROJ_DIR$\.</state>
          <state>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP</state>
        </option>
        <option>
          <name>CCStdIncCheck</name>
          <state>0</state>
        </option>
        <option>
          <name>CCCodeSection</name>
          <state>.text</state>
        </option>
        <option>
          <name>IInterwork2</name>
          <state>0</state>
        </option>
        <option>
          <name>IProcessorMode2</name>
          <state>1</state>
        </option>
        <option>
          <name>CCOptLevel</name>
          <state>1</state>
        </option>
        <option>
          <name>CCOptStrategy</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>CCOptLevelSlave</name>
          <state>1</state>
        </option>
        <option>
          <name>CompilerMisraRules98</name>
          <version>0</version>
          <state>1000111110110101101110011100111111101110011011000101110111101101100111111111111100110011111001110111001111111111111111111111111</state>
        </option>
        <option>
          <name>CompilerMisraRules04</name>
          <version>0</version>
          <state>111101110010111111111000110111111111111111111111111110010111101111010101111111111111111111111111101111111011111001111011111011111111111111111</state>
        </option>
        <option>
          <name>CCPosIndRopi</name>
          <state>0</state>
        </option>
        <option>
          <name>CCPosIndRwpi</name>
          <state>0</state>
        </option>
        <option>
          <name>CCPosIndNoDynInit</name>
          <state>0</state>
        </option>
        <option>
          <name>IccLang</name>
          <state>2</state>
        </option>
        <option>
          <name>IccCDialect</name>
          <state>1</state>
        </option>
        <option>
          <name>IccAllowVLA</name>
          <state>1</state>
        </option>
        <option>
          <name>IccCppDialect</name>
          <state>2</state>
        </option>
        <option>
          <name>IccExceptions</name>
          <state>0</state>
        </option>
        <option>
          <name>IccRTTI</name>
          <state>0</state>
        </option>
        <option>
          <name>IccStaticDestr</name>
          <state>1</state>
        </option>
        <option>
          <name>IccCppInlineSemantics</name>
          <state>0</state>
        </option>
        <option>
          <name>IccCmsis</name>
          <state>1</state>
        </option>
        <option>
          <name>IccFloatSemantics</name>
          <state>0</state>
        </option>
        <option>
          <name>CCNoLiteralPool</name>
          <state>0</state>
        </option>
        <option>
          <name>CCOptStrategySlave</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>CCGuardCalls</name>
          <state>1</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>AARM</name>
      <archiveVersion>2</archiveVersion>
      <data>
        <version>9</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>AObjPrefix</name>
          <state>1</state>
        </option>
        <option>
          <name>AEndian</name>
          <state>0</state>
        </option>
        <option>
          <name>ACaseSensitivity</name>
          <state>1</state>
        </option>
        <option>
          <name>MacroChars</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>AWarnEnable</name>
          <state>0</state>
        </option>
        <option>
          <name>AWarnWhat</name>
          <state>0</state>
        </option>
        <option>
          <name>AWarnOne</name>
          <state>0</state>
        </option>
        <option>
          <name>AWarnRange1</name>
          <state>0</state>
        </option>
        <option>
          <name>AWarnRange2</name>
          <state>0</state>
        </option>
        <option>
          <name>ADebug</name>
          <state>1</state>
        </option>
        <option>
          <name>AltRegisterNames</name>
          <state>0</state>
        </option>
        <option>
          <name>ADefines</name>
          <state></state>
        </option>
        <option>
          <name>AList</name>
          <state>1</state>
        </option>
        <option>
          <name>AListHeader</name>
          <state>1</state>
        </option>
        <option>
          <name>AListing</name>
          <state>1</state>
        </option>
        <option>
          <name>Includes</name>
          <state>0</state>
        </option>
        <option>
          <name>MacDefs</name>
          <state>0</state>
        </option>
        <option>
          <name>MacExps</name>
          <state>1</state>
        </option>
        <option>
          <name>MacExec</name>
          <state>0</state>
        </option>
        <option>
          <name>OnlyAssed</name>
          <state>0</state>
        </option>
        <option>
          <name>MultiLine</name>
          <state>0</state>
        </option>
        <option>
          <name>PageLengthCheck</name>
          <state>0</state>
        </option>
        <option>
          <name>PageLength</name>
          <state>80</state>
        </option>
        <option>
          <name>TabSpacing</name>
          <state>4</state>
        </option>
        <option>
          <name>AXRef</name>
          <state>1</state>
        </option>
        <option>
          <name>AXRefDefines</name>
          <state>0</state>
        </option>
        <option>
          <name>AXRefInternal</name>
          <state>0</state>
        </option>
        <option>
          <name>AXRefDual</name>
          <state>0</state>
        </option>
        <option>
          <name>AProcessor</name>
          <state>0</state>
        </option>
        <option>
          <name>AFpuProcessor</name>
          <state>0</state>
        </option>
        <option>
          <name>AOutputFile</name>
          <state>$FILE_BNAME$.o</state>
        </option>
        <option>
          <name>AMultibyteSupport</name>
          <state>0</state>
        </option>
        <option>
          <name>ALimitErrorsCheck</name>
          <state>0</state>
        </option>
        <option>
          <name>ALimitErrorsEdit</name>
          <state>100</state>
        </option>
        <option>
          <name>AIgnoreStdInclude</name>
          <state>0</state>
        </option>
        <option>
          <name>AUserIncludes</name>
          <state></state>
        </option>
        <option>
          <name>AExtraOptionsCheckV2</name>
          <state>0</state>
        </option>
        <option>
          <name>AExtraOptionsV2</name>
          <state>0</state>
        </option>
        <option>
          <name>AsmNoLiteralPool</name>
          <state>0</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>OBJCOPY</name>
      <archiveVersion>0</archiveVersion>
      <data>
        <version>1</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>OOCOutputFormat</name>
          <version>3</version>
          <state>3</state>
        </option>
        <option>
          <name>OCOutputOverride</name>
          <state>0</state>
        </option>
        <option>
          <name>OOCOutputFile</name>
          <state>MBED_12.bin</state>
        </option>
        <option>
          <name>OOCCommandLineProducer</name>
          <state>0</state>
        </option>
        <option>
          <name>OOCObjCopyEnable</name>
          <state>1</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>CUSTOM</name>
      <archiveVersion>3</archiveVersion>
      <data>
        <extensions></extensions>
        <cmdline></cmdline>
        <hasPrio>0</hasPrio>
      </data>
    </settings>
    <settings>
      <name>BICOMP</name>
      <archiveVersion>0</archiveVersion>
      <data/>
    </settings>
    <settings>
      <name>BUILDACTION</name>
      <archiveVersion>1</archiveVersion>
      <data>
        <prebuild></prebuild>
        <postbuild></postbuild>
      </data>
    </settings>
    <settings>
      <name>ILINK</name>
      <archiveVersion>0</archiveVersion>
      <data>
        <version>17</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>IlinkOutputFile</name>
          <state>mbed.out</state>
        </option>
        <option>
          <name>IlinkLibIOConfig</name>
          <state>1</state>
        </option>
        <option>
          <name>XLinkMisraHandler</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkInputFileSlave</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkDebugInfoEnable</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkKeepSymbols</name>
          <state></state>
        </option>
        <option>
          <name>IlinkRawBinaryFile</name>
          <state></state>
        </option>
        <option>
          <name>IlinkRawBinarySymbol</name>
          <state></state>
        </option>
        <option>
          <name>IlinkRawBinarySegment</name>
          <state></state>
        </option>
        <option>
          <name>IlinkRawBinaryAlign</name>
          <state></state>
        </option>
        <option>
          <name>IlinkDefines</name>
          <state></state>
        </option>
        <option>
          <name>IlinkConfigDefines</name>
          <state></state>
        </option>
        <option>
          <name>IlinkMapFile</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogFile</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogInitialization</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogModule</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogSection</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogVeneer</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkIcfOverride</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkIcfFile</name>
          <state>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR\LPC17xx.icf</state>
        </option>
        <option>
          <name>IlinkIcfFileSlave</name>
          <state></state>
        </option>
        <option>
          <name>IlinkEnableRemarks</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkSuppressDiags</name>
          <state></state>
        </option>
        <option>
          <name>IlinkTreatAsRem</name>
          <state></state>
        </option>
        <option>
          <name>IlinkTreatAsWarn</name>
          <state></state>
        </option>
        <option>
          <name>IlinkTreatAsErr</name>
          <state></state>
        </option>
        <option>
          <name>IlinkWarningsAreErrors</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkUseExtraOptions</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkExtraOptions</name>
          <state></state>
          <state>--skip_dynamic_initialization</state>
        </option>
        <option>
          <name>IlinkLowLevelInterfaceSlave</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkAutoLibEnable</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkAdditionalLibs</name>
          <state></state>
        </option>
        <option>
          <name>IlinkOverrideProgramEntryLabel</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkProgramEntryLabelSelect</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkProgramEntryLabel</name>
          <state>__iar_program_start</state>
        </option>
        <option>
          <name>DoFill</name>
          <state>0</state>
        </option>
        <option>
          <name>FillerByte</name>
          <state>0xFF</state>
        </option>
        <option>
          <name>FillerStart</name>
          <state>0x0</state>
        </option>
        <option>
          <name>FillerEnd</name>
          <state>0x0</state>
        </option>
        <option>
          <name>CrcSize</name>
          <version>0</version>
          <state>1</state>
        </option>
        <option>
          <name>CrcAlign</name>
          <state>1</state>
        </option>
        <option>
          <name>CrcPoly</name>
          <state>0x11021</state>
        </option>
        <option>
          <name>CrcCompl</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>CrcBitOrder</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>CrcInitialValue</name>
          <state>0x0</state>
        </option>
        <option>
          <name>DoCrc</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkBE8Slave</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkBufferedTerminalOutput</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkStdoutInterfaceSlave</name>
          <state>1</state>
        </option>
        <option>
          <name>CrcFullSize</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkIElfToolPostProcess</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogAutoLibSelect</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogRedirSymbols</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogUnusedFragments</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkCrcReverseByteOrder</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkCrcUseAsInput</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkOptInline</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkOptExceptionsAllow</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkOptExceptionsForce</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkCmsis</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkOptMergeDuplSections</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkOptUseVfe</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkOptForceVfe</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkStackAnalysisEnable</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkStackControlFile</name>
          <state></state>
        </option>
        <option>
          <name>IlinkStackCallGraphFile</name>
          <state></state>
        </option>
        <option>
          <name>CrcAlgorithm</name>
          <version>0</version>
          <state>1</state>
        </option>
        <option>
          <name>CrcUnitSize</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>IlinkThreadsSlave</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkLogCallGraph</name>
          <state>0</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>IARCHIVE</name>
      <archiveVersion>0</archiveVersion>
      <data>
        <version>0</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>IarchiveInputs</name>
          <state></state>
        </option>
        <option>
          <name>IarchiveOverride</name>
          <state>0</state>
        </option>
        <option>
          <name>IarchiveOutput</name>
          <state>###Unitialized###</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>BILINK</name>
      <archiveVersion>0</archiveVersion>
      <data/>
    </settings>
  </configuration>
  <group>
    <name>Include Files</name>
    <file>
      <name>$PROJ_DIR$\mbed\AnalogIn.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\analogin_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\AnalogOut.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\analogout_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\arm_common_tables.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\arm_const_structs.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\arm_math.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\buffer.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\BusIn.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\BusInOut.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\BusOut.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\CallChain.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\CAN.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\can_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\can_helper.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\CircularBuffer.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\cmsis.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\cmsis_nvic.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_ca9.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_ca_mmu.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_caFunc.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_caInstr.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cm0.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cm0plus.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cm3.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cm4.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cm4_simd.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cm7.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cmFunc.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cmInstr.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_cmSimd.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_sc000.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\core_sc300.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\CThunk.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\TARGET_MBED_LPC1768\device.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\DigitalIn.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\DigitalInOut.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\DigitalOut.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\DirHandle.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\dma_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\env</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\Ethernet.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\ethernet_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\FileBase.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\FileHandle.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\FileLike.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\FilePath.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\FileSystemLike.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\FunctionPointer.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\gpio_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\gpio_irq_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\gpio_object.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\I2C.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\i2c_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\I2CSlave.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\InterruptIn.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\InterruptManager.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\LocalFileSystem.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\LowPowerTicker.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\LowPowerTimeout.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\LowPowerTimer.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\lp_ticker_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\LPC17xx.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\mbed.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\mbed_assert.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\mbed_debug.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\mbed_error.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\mbed_interface.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\objects.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\PeripheralNames.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\pinmap.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\TARGET_MBED_LPC1768\PinNames.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\platform.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\port_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\PortIn.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\PortInOut.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\PortNames.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\PortOut.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\PwmOut.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\pwmout_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\RawSerial.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\TARGET_MBED_LPC1768\reserved_pins.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\rtc_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\rtc_time.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\semihost_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\Serial.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\serial_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\SerialBase.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\sleep_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\SPI.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\spi_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\SPISlave.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\Stream.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\system_LPC17xx.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X\TARGET_MBED_LPC1768</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TARGET_NXP</name>
    </file>
    <file>
      <name>$PROJ_DIR$\env\test_env.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\Ticker.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\ticker_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\Timeout.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\Timer.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TimerEvent.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\toolchain.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\Transaction.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\us_ticker_api.h</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\wait_api.h</name>
    </file>
  </group>
  <group>
    <name>Source Files</name>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR\board.o</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR\cmain.o</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR\cmsis_nvic.o</name>
    </file>
    <file>
      <name>$PROJ_DIR$\main.cpp</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR\mbed.a</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR\retarget.o</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR\startup_LPC17xx.o</name>
    </file>
    <file>
      <name>$PROJ_DIR$\mbed\TARGET_LPC1768\TOOLCHAIN_IAR\system_LPC17xx.o</name>
    </file>
    <file>
      <name>$PROJ_DIR$\env\test_env.cpp</name>
    </file>
  </group>
</project>


