*.py[cod]

# Distribution dir
dist

# MANIFEST file
MANIFEST
doxygen_objdb_*

# Private settings
mbed_settings.py

# Default Build Directory
.build/
BUILD/
.mbed
venv/

# Mbedls
.mbedls-mock.lock

# Eclipse Project Files
.cproject
.project
.pydevproject

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache
.hypothesis

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

output.txt
uVision Project/

# Sublime Text Project Files
*.sublime*

*.bak
debug.log

# Ignore OS X Desktop Services Store files
.DS_Store

# Orig diff files
*.orig

# PyCharm
*.idea

# Cscope
cscope.*

# Ctags
tags

# vim swap files
*.swp
*~

# Visual Studio Code
.vscode/

features/FEATURE_BLE/targets/TARGET_CORDIO/stack_backup/

.pytest_cache
log

# Icetea related file
test_suite.json

# default delivery dir
DELIVERY/
cmake-build-debug/.mbedignore
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.13.2/CMakeASMCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.o
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/mbed-cli-build.dir/build.make
cmake-build-debug/CMakeFiles/mbed-cli-build.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/mbed-cli-build.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/mbed-cli-build.dir/progress.make
cmake-build-debug/CMakeFiles/mbed-os.dir/build.make
cmake-build-debug/CMakeFiles/mbed-os.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/mbed-os.dir/depend.make
cmake-build-debug/CMakeFiles/mbed-os.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/mbed-os.dir/flags.make
cmake-build-debug/CMakeFiles/mbed-os.dir/link.txt
cmake-build-debug/CMakeFiles/mbed-os.dir/objects1.rsp
cmake-build-debug/CMakeFiles/mbed-os.dir/progress.make
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/compiler-file3040531024441447850.d
cmake-build-debug/compiler-file4529788487702700900.d
cmake-build-debug/compiler-file4727057748131971377.d
cmake-build-debug/compiler-file8813331766360922248.d
cmake-build-debug/main.d
cmake-build-debug/Makefile
cmake-build-debug/mbed-os.cbp
cmake-build-debug/nfccommands.d
cmake-build-debug/NFCController.d
cmake-build-debug/nfcprocess.d
cmake-build-debug/nfcprocessCtrl.d
cmake-build-debug/nfctestshim.d
cmake-build-debug/uart.d
