language: python
python: 2.7

env:
  global:
    - >
      STATUS=$'curl -so/dev/null --user "$MBED_BOT" --request POST
      https://api.github.com/repos/$TRAVIS_REPO_SLUG/statuses/${TRAVIS_PULL_REQUEST_SHA:-$TRAVIS_COMMIT}
      --data @- << DATA\n{
      "state": "$0",
      "description": "$1",
      "context": "travis-ci/$NAME",
      "target_url": "https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
      }\nDATA'

cache:
  pip: true
  directories:
    - $HOME/.cache/apt
    - $HOME/gcc-arm-none-eabi-6-2017-q2-update

before_install:
  - bash -c "$STATUS" pending "Local $NAME testing is in progress"
  # Make sure pipefail
  - set -o pipefail
  # Setup apt to cache
  - mkdir -p $HOME/.cache/apt/partial
  - sudo rm -rf /var/cache/apt/archives
  - sudo ln -s $HOME/.cache/apt /var/cache/apt/archives
  # Setup ppa to make sure arm-none-eabi-gcc is correct version
  - sudo add-apt-repository -y ppa:team-gcc-arm-embedded/ppa
  - sudo add-apt-repository -y ppa:deadsnakes/ppa
  # Fix for "The following signatures were invalid: KEYEXPIRED 1515625755" failed". See https://github.com/travis-ci/travis-ci/issues/9037
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0C49F3730359A14518585931BC711F9BA15703C6
  # Loop until update succeeds (timeouts can occur)
  - travis_retry $(! sudo apt-get update 2>&1 |grep Failed)

after_success:
  - bash -c "$STATUS" success "Local $NAME testing has passed"

after_failure:
  - bash -c "$STATUS" failure "Local $NAME testing has failed"

matrix:
  include:
    - env:
        - NAME=docs
      install:
        # Install dependencies
        - sudo apt-get install doxygen
        # Print versions we use
        - doxygen --version
      before_script:
        # Create BUILD directory for tests
        - mkdir BUILD
      script:
        # Assert that the Doxygen build produced no warnings.
        # The strange command below asserts that the Doxygen command had an
        # output of zero length
        - >
          doxygen doxyfile_options 2>&1 |
          tee BUILD/doxygen.out && [ ! -s BUILD/doxygen.out ]
        # Assert that all binary libraries are named correctly
        # The strange command below asserts that there are exactly 0 libraries
        # that do not start with lib
        - >
          find "(" -name "*.a" -or -name "*.ar" ")" -and -not -name "lib*" |
          tee BUILD/badlibs |
          sed -e "s/^/Bad library name found: /" && [ ! -s BUILD/badlibs ]
        # Assert that all assebler files are named correctly
        # The strange command below asserts that there are exactly 0 libraries
        # that do end with .s
        - >
          find  -name "*.s" | tee BUILD/badasm |
          sed -e "s/^/Bad Assembler file name found: /" && [ ! -s BUILD/badasm ]

    - &tools-pytest
      env: NAME=tools-py2.7
      python: 2.7
      install:
        # Install dependencies
        - sudo apt-get install gcc-arm-embedded
        - pip install -r requirements.txt
        - pip install pytest pylint hypothesis mock coverage coveralls
        # Print versions we use

        - arm-none-eabi-gcc --version
        - python --version
      script:
        # Run local testing on tools
        - PYTHONPATH=. coverage run -a -m pytest tools/test
        - python tools/test/pylint.py
        - coverage run -a tools/project.py -S | sed -n '/^Total/p'
        - coverage html
      after_success:
        # Coverage for tools
        - coveralls
        # Report success since we have overridden default behaviour
        - bash -c "$STATUS" success "Local $NAME testing has passed"

#    - <<: *tools-pytest
#      env: NAME=tools-py3.5
#      python: 3.5
#
#    - <<: *tools-pytest
#      env: NAME=tools-py3.6
#      python: 3.6

    - env:
        - NAME=astyle
      install:
      - curl -L0 http://mbed-os.s3-eu-west-1.amazonaws.com/builds/deps/astyle_3.1_linux.tar.gz --output astyle.tar.gz;
        mkdir -p BUILD && tar xf astyle.tar.gz -C BUILD;
        pushd BUILD/astyle/build/gcc;
        make;
        export PATH=$PWD/bin:$PATH;
        popd;
      - astyle --version
      script:
        # only changed files this time
        - git diff --name-only $TRAVIS_BRANCH | grep '.*\.\(h\|c\|hpp\|cpp\)' | fgrep -v -f .astyleignore | xargs -n 100 -I {} bash -c "astyle -n --options=.astylerc \"{}\"" > astyle-files-changed.out;
          if [ $(cat astyle-files-changed.out | grep Formatted | wc -l) -ne 0 ]; then
            git --no-pager diff;
            echo "Please fix style issues as shown above";
          else
            echo "Coding style check OK";
          fi
      after_success:
        # run astyle for all files on the branch
        - git checkout -- .
        - find -regex '.*\.\(h\|c\|hpp\|cpp\)' -type f | fgrep -v -f .astyleignore | xargs -n 100 -I {} bash -c "astyle -n --options=.astylerc \"{}\"" > astyle-branch.out;
        # update status if we succeeded, compare with master if possible
        - |
          CURR=$(cat astyle-branch.out | grep Formatted | wc -l)
          PREV=$(curl https://api.github.com/repos/$TRAVIS_REPO_SLUG/status/master \
              | jq -re "select(.sha != \"$TRAVIS_COMMIT\")
                  | .statuses[] | select(.context == \"travis-ci/$NAME\").description
                  | capture(\", (?<files>[0-9]+) files\").warnings" \
              || echo 0)

          STATUSM="Passed, ${CURR} files"
          if [ "$PREV" -ne 0 ]
          then
              STATUSM="$STATUSM ($(python -c "print '%+d' % ($CURR-$PREV)") files)"
          fi
        - bash -c "$STATUS" success "$STATUSM"

    - env:
        - NAME=events
        - EVENTS=events
      install:
        # Install dependencies
        - sudo apt-get install gcc-arm-embedded
        - pip install -r requirements.txt
        # Print versions we use
        - arm-none-eabi-gcc --version
        - gcc --version
        - python --version
      script:
        # Check that example compiles
        - sed -n '/``` cpp/,/```/{/```$/Q;/```/d;p;}' $EVENTS/README.md > main.cpp
        - python tools/make.py -t GCC_ARM -m K64F --source=. --build=BUILD/K64F/GCC_ARM -j0
        # Check that example compiles without rtos
        - sed -n '/``` cpp/,/```/{/```$/Q;/```/d;p;}' $EVENTS/README.md > main.cpp
        - rm -r rtos features/cellular features/netsocket features/nanostack features/frameworks/greentea-client features/frameworks/utest features/frameworks/unity BUILD
        - python tools/make.py -t GCC_ARM -m DISCO_F401VC --source=. --build=BUILD/DISCO_F401VC/GCC_ARM -j0
        # Run local equeue tests
        - make -C $EVENTS/equeue test
        # Run profiling tests
        - make -C $EVENTS/equeue prof | tee prof
      after_success:
        # update status if we succeeded, compare with master if possible
        - |
          CURR=$(grep -o '[0-9]\+ cycles' prof | awk '{sum += $1} END {print sum}')
          PREV=$(curl -u "$MBED_BOT" https://api.github.com/repos/$TRAVIS_REPO_SLUG/status/master \
              | jq -re "select(.sha != \"$TRAVIS_COMMIT\")
                  | .statuses[] | select(.context == \"travis-ci/$NAME\").description
                  | capture(\"runtime is (?<runtime>[0-9]+)\").runtime" \
              || echo 0)

          STATUSM="Passed, runtime is ${CURR} cycles"
          if [ "$PREV" -ne 0 ]
          then
              STATUSM="$STATUSM ($(python -c "print '%+d' % ($CURR-$PREV)") cycles)"
          fi
        - bash -c "$STATUS" success "$STATUSM"

    - env:
        - NAME=littlefs
        - LITTLEFS=features/filesystem/littlefs
      install:
        # Install dependencies
        - sudo apt-get install gcc-arm-embedded fuse libfuse-dev
        - pip install -r requirements.txt
        - git clone https://github.com/armmbed/spiflash-driver.git
        # Print versions
        - arm-none-eabi-gcc --version
        - gcc --version
        - python --version
        - fusermount --version
      before_script:
        # Setup and patch littlefs-fuse
        - git clone https://github.com/geky/littlefs-fuse littlefs_fuse
        - git -C littlefs_fuse checkout 3f1ed6e37799e49e3710830dc6abb926d5503cf2
        - echo '*' > littlefs_fuse/.mbedignore
        - rm -rf littlefs_fuse/littlefs/*
        - cp -r $(git ls-tree --name-only HEAD $LITTLEFS/littlefs/) littlefs_fuse/littlefs
        # Create file-backed disk
        - mkdir MOUNT
        - sudo chmod a+rw /dev/loop0
        - dd if=/dev/zero bs=512 count=2048 of=DISK
        - losetup /dev/loop0 DISK
        - CFLAGS="-Werror -Wno-format"
      script:
        # Check that example compiles
        - export CFLAGS="-Werror -Wno-format"
        - sed -n '/``` c++/,/```/{/```/d;p;}' $LITTLEFS/README.md > main.cpp
        - python tools/make.py -t GCC_ARM -m K82F --source=. --build=BUILD/K82F/GCC_ARM -j0
        # Run local littlefs tests
        - make -C$LITTLEFS/littlefs test QUIET=1
        # Run local littlefs tests with set of variations
        - make -C$LITTLEFS/littlefs test QUIET=1 CFLAGS+="-DLFS_READ_SIZE=64  -DLFS_PROG_SIZE=64"
        - make -C$LITTLEFS/littlefs test QUIET=1 CFLAGS+="-DLFS_READ_SIZE=1   -DLFS_PROG_SIZE=1"
        - make -C$LITTLEFS/littlefs test QUIET=1 CFLAGS+="-DLFS_READ_SIZE=512 -DLFS_PROG_SIZE=512"
        - make -C$LITTLEFS/littlefs test QUIET=1 CFLAGS+="-DLFS_BLOCK_COUNT=1023 -DLFS_LOOKAHEAD=2048"
        - make -C$LITTLEFS/littlefs clean test QUIET=1 CFLAGS+="-DLFS_NO_INTRINSICS"
        # Self-hosting littlefs fuzz test with littlefs-fuse
        - make -Clittlefs_fuse
        - littlefs_fuse/lfs --format /dev/loop0
        - littlefs_fuse/lfs /dev/loop0 MOUNT
        - ls MOUNT
        - mkdir MOUNT/littlefs
        - cp -r $(git ls-tree --name-only HEAD $LITTLEFS/littlefs/) MOUNT/littlefs
        - ls MOUNT/littlefs
        - CFLAGS="-Wno-format" make -CMOUNT/littlefs -B test_dirs test_files QUIET=1
        # Compile and find the code size with smallest configuration
        - cd $TRAVIS_BUILD_DIR/$LITTLEFS/littlefs
        - make clean size
            CC='arm-none-eabi-gcc -mthumb'
            OBJ="$(ls lfs*.o | tr '\n' ' ')"
            CFLAGS+="-DLFS_NO{ASSERT,DEBUG,WARN,ERROR}"
            | tee sizes
      after_success:
        # update status if we succeeded, compare with master if possible
        - |
          CURR=$(tail -n1 sizes | awk '{print $1}')
          PREV=$(curl -u "$MBED_BOT" https://api.github.com/repos/$TRAVIS_REPO_SLUG/status/master \
              | jq -re "select(.sha != \"$TRAVIS_COMMIT\")
                  | .statuses[] | select(.context == \"travis-ci/$NAME\").description
                  | capture(\"code size is (?<size>[0-9]+)\").size" \
              || echo 0)

          STATUSM="Passed, code size is ${CURR}B"
          if [ "$PREV" -ne 0 ]
          then
              STATUSM="$STATUSM ($(python -c "print '%+.2f' % (100*($CURR-$PREV)/$PREV.0)")%)"
          fi
        - bash -c "$STATUS" success "$STATUSM"

    - env:
        - NAME=gitattributestest
      script:
        # Check that no changes after clone. This check that .gitattributes is used right way.
        - git diff --exit-code

    - env:
        - NAME=licence_check
      script:
        - echo 'Checking that there is no GPL licence text in code'
        - ! git grep -q --ignore-case "gnu general public";
