colorama==0.3.9
urllib3[secure]>=1.26.5
junit-xml==1.8
PyYAML>=5.4
jsonschema==2.6.0
future>=0.18.0,<1.0
six==1.12.0
requests>=2.20,<3
idna>=2,<2.8
pyserial>=3,<=3.4
jinja2>=2.11.3
intelhex>=2.3.0,<3.0.0
mbed-ls>=1.5.1,<2.0
mbed-host-tests>=1.4.4,<2.0
mbed-greentea>=0.2.24,<2.0
beautifulsoup4>=4,<=4.6.3
pyelftools>=0.24,<=0.25
pycryptodome>=3.9.3,<4
pyusb>=1.0.0,<2.0.0
hidapi>=0.7.99,<0.8.0;platform_system!="Linux"
cmsis-pack-manager>=0.2.3,<0.3.0
pywin32>=301;platform_system=='Windows'
wmi==1.4.9;platform_system=='Windows'
psutil==5.6.6
cryptography>=3.2,<4
Click>=7.0,<8
cbor>=1.0.0
