colorama==0.3.9
urllib3[secure]==1.23
prettytable==0.7.2
junit-xml==1.8
pyyaml==4.2b1
jsonschema==2.6.0
future==0.16.0
six==1.11.0
mbed-cloud-sdk==2.0.5
requests>=2.20,<2.21
idna>=2,<2.8
pyserial>=3,<=3.4
Jinja2>=2.7.3,<=2.10
intelhex>=1.3,<=2.2.1
intervaltree>=2,<3
mbed-ls>=1.5.1,<1.8
mbed-host-tests>=1.4.4,<1.6
mbed-greentea>=0.2.24,<1.7
beautifulsoup4>=4,<=4.6.3
fuzzywuzzy>=0.11,<=0.17
pyelftools>=0.24,<=0.25
git+https://github.com/armmbed/manifest-tool.git@v1.4.6
icetea>=1.2.1,<1.3
pycryptodome>=3.7.2,<=3.7.3
pyusb>=1.0.0,<2.0.0
cmsis-pack-manager>=0.2.3,<0.3.0
