colorama==0.3.9
urllib3[secure]==1.24.2
prettytable==0.7.2
junit-xml==1.8
pyyaml==4.2b1
jsonschema==2.6.0
future==0.16.0
six==1.12.0
mbed-cloud-sdk>=2.0.6,<2.1
requests>=2.20,<2.21
idna>=2,<2.8
pyserial>=3,<=3.4
Jinja2>=2.10.1,<2.11
intelhex>=1.3,<=2.2.1
mbed-ls>=1.5.1,<1.8
mbed-host-tests>=1.4.4,<1.6
mbed-greentea>=0.2.24,<1.8
beautifulsoup4>=4,<=4.6.3
pyelftools>=0.24,<=0.25
manifest-tool==1.5.2
icetea>=1.2.1,<1.3
pycryptodome>=3.9.3,<4
pyusb>=1.0.0,<2.0.0
hidapi>=0.7.99,<0.8.0;platform_system!="Linux"
cmsis-pack-manager>=0.2.3,<0.3.0
pywin32==224;platform_system=='Windows'
wmi==1.4.9;platform_system=='Windows'
psutil==5.6.6
cryptography>=2.5,<3
Click>=7.0,<7.1
cbor>=1.0.0
