<?xml version='1.0' encoding='UTF-8'?>
<?p2f version='1.0.0'?>
<p2f version='1.0.0'>
  <ius size='2'>
    <iu id='ilg.gnuarmeclipse.managedbuild.cross.feature.group' name='GNU ARM C/C++ Cross Compiler' version='2.2.1.201606210758'>
      <repositories size='1'>
        <repository location='http://gnuarmeclipse.sourceforge.net/updates'/>
      </repositories>
    </iu>
    <iu id='ilg.gnuarmeclipse.debug.gdbjtag.openocd.feature.group' name='GNU ARM C/C++ OpenOCD Debugging' version='4.1.1.201606210758'>
      <repositories size='1'>
        <repository location='http://gnuarmeclipse.sourceforge.net/updates'/>
      </repositories>
    </iu>
  </ius>
</p2f>
