<?xml version='1.0' encoding='UTF-8'?>
<?p2f version='1.0.0'?>
<p2f version='1.0.0'>
  <ius size='1'>
    <iu id='ilg.gnuarmeclipse.debug.gdbjtag.pyocd.feature.group' name='GNU ARM C/C++ PyOCD Debugging' version='1.1.1.201606210758'>
      <repositories size='1'>
        <repository location='http://gnuarmeclipse.sourceforge.net/updates'/>
      </repositories>
    </iu>
  </ius>
</p2f>
