
####################
# UNIT TESTS
####################

# Unit test suite name
set(TEST_SUITE_NAME "suitename")

set(unittest-includes ${unittest-includes}
  headerfile
)

set(unittest-sources
  cppfile
)

set(unittest-test-sources
  dirname/template/test_template.cpp
)