.settings/
.yotta.json
*.dep
*.htm
*.crf
*.ewd
*.ewt
bin/
*Debug/
*DEBUG/
*_debug/
gcov/
*Release/
*RELEASE/
*_release/
riliisi/
/output/
Output/
objs/
path.txt
jlink.config
settings/
*.bin
*.hex
*.elf
*.srec
*.eep
*.o
*.d
*.a
*.zip
*.tmp
Backup *
*.__i
*.pbi
*.cout
*.pbd.*
*.pbd
*.lst
*.Scr
*.uvgui.*
*.uvgui_*
*.log
*.lss
*.map
*.lib
*.uvopt
*.sim
*.out
*.atsuo
*.s37
*.S37
*.r43
*.r90
.tags_sorted_by_file
cscope.files
.tags
*~
*.c.orig
*.h.orig
*.axf
*.iex
*.sct
*.lnp
*.ini
!debugger.ini
*Log.txt
*.mpw
yotta_modules
yotta_targets
build
html
site
