{% extends "makefile/make-gcc-arm.tmpl" %}

{% block target_project_elf %}
{{ super() }}
	@echo ""
	@echo "*****"
	@echo "***** You must modify vector checksum value in *.bin and *.hex files."
	@echo "*****"
	@echo ""
{% endblock %}

