{% extends "makefile/Makefile.tmpl" %}

{% block sys_libs %}
{% for lib in ["-lstdc++", "-lsupc++", "-lm", "-lc", "-lgcc", "-lnosys"] -%}
LD_SYS_LIBS += {{lib}}
{% endfor %}
{%- endblock %}

{% block elf2bin %}
	$(ELF2BIN) -O binary $< $@
{%- endblock %}

{% block elf2hex %}
	$(ELF2BIN) -O ihex $< $@
{%- endblock %}
