{% extends "makefile/Makefile.tmpl" %}

{%- block sys_libs -%} -Wl,--start-group {{ld_sys_libs|join(" ")}} {{libraries|join(" ")}} -Wl,--end-group {%- endblock -%}

{% block elf2bin %}
	$(ELF2BIN) -O binary $< $@
{%- endblock %}

{% block elf2hex %}
	$(ELF2BIN) -O ihex $< $@
{%- endblock %}
