<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectVersion>6.2</ProjectVersion>
    <ToolchainName>com.Atmel.ARMGCC.CPP</ToolchainName>
    <ProjectGuid>{{project_uuid}}</ProjectGuid>
    <avrdevice>AT{{target}}</avrdevice>
    <avrdeviceseries>none</avrdeviceseries>
    <OutputType>Executable</OutputType>
    <Language>CPP</Language>
    <OutputFileName>$(MSBuildProjectName)</OutputFileName>
    <OutputFileExtension>.elf</OutputFileExtension>
    <OutputDirectory>$(MSBuildProjectDirectory)\$(Configuration)</OutputDirectory>
    <AssemblyName>AtmelStudio6_2</AssemblyName>
    <Name>AtmelStudio6_2</Name>
    <RootNamespace>AtmelStudio6_2</RootNamespace>
    <ToolchainFlavour>Native</ToolchainFlavour>
    <KeepTimersRunning>true</KeepTimersRunning>
    <OverrideVtor>false</OverrideVtor>
    <CacheFlash>true</CacheFlash>
    <ProgFlashFromRam>true</ProgFlashFromRam>
    <RamSnippetAddress />
    <UncachedRange />
    <preserveEEPROM>true</preserveEEPROM>
    <OverrideVtorValue />
    <BootSegment>2</BootSegment>
    <eraseonlaunchrule>1</eraseonlaunchrule>
    <AsfFrameworkConfig>
      <framework-data xmlns="">
  <options />
  <configurations />
  <files />
  <documentation help="" />
  <offline-documentation help="" />
</framework-data>
    </AsfFrameworkConfig>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
    <ToolchainSettings>
      <ArmGccCpp>
  <armgcc.common.outputfiles.hex>True</armgcc.common.outputfiles.hex>
  <armgcc.common.outputfiles.lss>True</armgcc.common.outputfiles.lss>
  <armgcc.common.outputfiles.eep>True</armgcc.common.outputfiles.eep>
  <armgcc.common.outputfiles.bin>True</armgcc.common.outputfiles.bin>
  <armgcc.common.outputfiles.srec>True</armgcc.common.outputfiles.srec>
  <armgcc.compiler.symbols.DefSymbols>
    <ListValues>
      <Value>NDEBUG</Value>
      {% for s in symbols %}<Value>{{s}}</Value> 
      {% endfor %}
    </ListValues>
  </armgcc.compiler.symbols.DefSymbols>
  <armgcc.compiler.directories.IncludePaths>
    <ListValues>
      {% for i in include_paths %}<Value>../{{i}}</Value> 
      {% endfor %}
    </ListValues>
  </armgcc.compiler.directories.IncludePaths>
  <armgcc.compiler.optimization.level>Optimize for size (-Os)</armgcc.compiler.optimization.level>
  <armgcc.compiler.optimization.PrepareFunctionsForGarbageCollection>True</armgcc.compiler.optimization.PrepareFunctionsForGarbageCollection>
  <armgcc.compiler.warnings.AllWarnings>True</armgcc.compiler.warnings.AllWarnings>
  <armgcc.compiler.miscellaneous.OtherFlags>{{c_flags|join(" ")}} {{common_flags|join(" ")}} -MMD -MP</armgcc.compiler.miscellaneous.OtherFlags>
  <armgcccpp.compiler.symbols.DefSymbols>
    <ListValues>
      <Value>NDEBUG</Value>
      {% for s in symbols %}<Value>{{s}}</Value> 
      {% endfor %}
    </ListValues>
  </armgcccpp.compiler.symbols.DefSymbols>
  <armgcccpp.compiler.directories.IncludePaths>
    <ListValues>
      {% for i in include_paths %}<Value>../{{i}}</Value> 
      {% endfor %}
   </ListValues>
  </armgcccpp.compiler.directories.IncludePaths>
  <armgcccpp.compiler.optimization.level>Optimize for size (-Os)</armgcccpp.compiler.optimization.level>
  <armgcccpp.compiler.optimization.PrepareFunctionsForGarbageCollection>True</armgcccpp.compiler.optimization.PrepareFunctionsForGarbageCollection>
  <armgcccpp.compiler.warnings.AllWarnings>True</armgcccpp.compiler.warnings.AllWarnings>
  <armgcccpp.compiler.miscellaneous.OtherFlags>{{cxx_flags|join(" ")}} {{common_flags|join(" ")}} -MMD -MP</armgcccpp.compiler.miscellaneous.OtherFlags>
  <armgcccpp.linker.libraries.Libraries>
    <ListValues>
      <Value>libm</Value>
    </ListValues>
  </armgcccpp.linker.libraries.Libraries>
  <armgcccpp.linker.libraries.LibrarySearchPaths>
    <ListValues>
    </ListValues>
  </armgcccpp.linker.libraries.LibrarySearchPaths>
  <armgcccpp.linker.optimization.GarbageCollectUnusedSections>True</armgcccpp.linker.optimization.GarbageCollectUnusedSections>
  <armgcccpp.linker.miscellaneous.LinkerFlags>{% for p in library_paths %}-L../{{p}} {% endfor %} {% for f in object_files %}../{{f}} {% endfor %} {% for lib in libraries %}-l{{lib}} {% endfor %} -T../{{linker_script}} {{ld_flags|join(" ")}} {{common_flags|join(" ")}}</armgcccpp.linker.miscellaneous.LinkerFlags>
  <armgcccpp.preprocessingassembler.general.IncludePaths>
    <ListValues>
      {% for i in include_paths %}<Value>../{{i}}</Value> 
      {% endfor %}
    </ListValues>
  </armgcccpp.preprocessingassembler.general.IncludePaths>
</ArmGccCpp>
    </ToolchainSettings>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <ToolchainSettings>
      <ArmGccCpp>
  <armgcc.common.outputfiles.hex>True</armgcc.common.outputfiles.hex>
  <armgcc.common.outputfiles.lss>True</armgcc.common.outputfiles.lss>
  <armgcc.common.outputfiles.eep>True</armgcc.common.outputfiles.eep>
  <armgcc.common.outputfiles.bin>True</armgcc.common.outputfiles.bin>
  <armgcc.common.outputfiles.srec>True</armgcc.common.outputfiles.srec>
  <armgcc.compiler.symbols.DefSymbols>
    <ListValues>
      <Value>DEBUG</Value>
      {% for s in symbols %}<Value>{{s}}</Value>
      {% endfor %}
    </ListValues>
  </armgcc.compiler.symbols.DefSymbols>
  <armgcc.compiler.directories.IncludePaths>
    <ListValues>
      {% for i in include_paths %}<Value>../{{i}}</Value> 
      {% endfor %}
    </ListValues>
  </armgcc.compiler.directories.IncludePaths>
  <armgcc.compiler.optimization.level>Optimize (-O1)</armgcc.compiler.optimization.level>
  <armgcc.compiler.optimization.PrepareFunctionsForGarbageCollection>True</armgcc.compiler.optimization.PrepareFunctionsForGarbageCollection>
  <armgcc.compiler.optimization.DebugLevel>Maximum (-g3)</armgcc.compiler.optimization.DebugLevel>
  <armgcc.compiler.warnings.AllWarnings>True</armgcc.compiler.warnings.AllWarnings>
  <armgcc.compiler.miscellaneous.OtherFlags>{{c_flags|join(" ")}} {{common_flags|join(" ")}} -MMD -MP</armgcc.compiler.miscellaneous.OtherFlags>    
  <armgcccpp.compiler.symbols.DefSymbols>
    <ListValues>
      <Value>DEBUG</Value>
      {% for s in symbols %}<Value>{{s}}</Value> 
      {% endfor %}
    </ListValues>
  </armgcccpp.compiler.symbols.DefSymbols>
  <armgcccpp.compiler.directories.IncludePaths>
    <ListValues>
      {% for i in include_paths %}<Value>../{{i}}</Value> 
      {% endfor %}
    </ListValues>
  </armgcccpp.compiler.directories.IncludePaths>
  <armgcccpp.compiler.optimization.level>Optimize (-O1)</armgcccpp.compiler.optimization.level>
  <armgcccpp.compiler.optimization.PrepareFunctionsForGarbageCollection>True</armgcccpp.compiler.optimization.PrepareFunctionsForGarbageCollection>
  <armgcccpp.compiler.optimization.DebugLevel>Maximum (-g3)</armgcccpp.compiler.optimization.DebugLevel>
  <armgcccpp.compiler.warnings.AllWarnings>True</armgcccpp.compiler.warnings.AllWarnings>
  <armgcccpp.compiler.miscellaneous.OtherFlags>{{cxx_flags|join(" ")}} {{common_flags|join(" ")}} -MMD -MP</armgcccpp.compiler.miscellaneous.OtherFlags>
  <armgcccpp.linker.libraries.Libraries>
    <ListValues>
      <Value>libm</Value>
    </ListValues>
  </armgcccpp.linker.libraries.Libraries>
  <armgcccpp.linker.libraries.LibrarySearchPaths>
    <ListValues>
    </ListValues>
  </armgcccpp.linker.libraries.LibrarySearchPaths>
  <armgcccpp.linker.optimization.GarbageCollectUnusedSections>True</armgcccpp.linker.optimization.GarbageCollectUnusedSections>
  <armgcccpp.linker.miscellaneous.LinkerFlags>{% for p in library_paths %}-L../{{p}} {% endfor %} {% for f in object_files %}../{{f}} {% endfor %} {% for lib in libraries %}-l{{lib}} {% endfor %} -T../{{linker_script}} {{ld_flags|join(" ")}} {{common_flags|join(" ")}}</armgcccpp.linker.miscellaneous.LinkerFlags>
  <armgcccpp.assembler.debugging.DebugLevel>Default (-g)</armgcccpp.assembler.debugging.DebugLevel>
  <armgcccpp.preprocessingassembler.general.IncludePaths>
    <ListValues>
      {% for i in include_paths %}<Value>../{{i}}</Value> 
      {% endfor %}
    </ListValues>
  </armgcccpp.preprocessingassembler.general.IncludePaths>
  <armgcccpp.preprocessingassembler.debugging.DebugLevel>Default (-Wa,-g)</armgcccpp.preprocessingassembler.debugging.DebugLevel>
</ArmGccCpp>
    </ToolchainSettings>
  </PropertyGroup>
  <ItemGroup>
    {% for f in source_folders %}<Folder Include="{{f}}" />
    {% endfor %}
    {% for s in source_files %}<Compile Include="{{s}}">
      <SubType>compile</SubType>
    </Compile>
    {% endfor %}
  </ItemGroup>
  <Import Project="$(AVRSTUDIO_EXE_PATH)\\Vs\\Compiler.targets" />
</Project>
