*.o
*.a
*.d
*.eww
*.bak
*.dep
*.Scr
*.uvgui.*
build/
*.dep
*.ewd
*.ewt
Debug
Release
settings
*_release
Obj
*_output
Backup*
*.r43
*.htm
*.uvgui.*
*.lib
*.crf
*.uvopt
*.out
docs/
yotta_modules
yotta_targets
test/mbed-coap/unittest/coverages
test/mbed-coap/unittest/results
.yotta.json
coverage/
lcov/
upload.tar.gz

