{% extends "gcc_arm_common.tmpl" %}

{% block additional_variables %}
SOFTDEVICE = mbed/TARGET_RBLAB_NRF51822/TARGET_NORDIC/TARGET_MCU_NRF51822/Lib/s110_nrf51822_7_1_0/s110_nrf51822_7.1.0_softdevice.hex
{% endblock %}

{% block additional_executables %}
SREC_CAT = srec_cat
{% endblock %}

{% block additional_targets %}
merge:
	$(SREC_CAT) $(SOFTDEVICE) -intel $(PROJECT).hex -intel -o combined.hex -intel --line-length=44
{% endblock %}
