<?xml version="1.0" encoding="utf-8"?>
<ProjectOpt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="project_optx.xsd">
	<SchemaVersion>1.0</SchemaVersion>
	<Target>
		<TargetName>{{name}}</TargetName>
		<ToolsetNumber>0x4</ToolsetNumber>
		<ToolsetName>ARM-ADS</ToolsetName>
		<TargetOption>
			{% if postbuild_step_active %}
			<OPTTT>
				<RunAbUc>1</RunAbUc>
			</OPTTT>
			{% endif %}
			<DebugOpt>
				<uSim>0</uSim>
				<uTrg>1</uTrg>
				<nTsel>11</nTsel>
				<pMon>{{device.debug_interface.bin_loc}}</pMon>
				{% if postbuild_step_active %}
				<tIfile>./debug_init.ini</tIfile>
				<tLdApp>0</tLdApp>
				{% endif %}
			</DebugOpt>
			<TargetDriverDllRegistry>
				<SetRegEntry>
					<Number>0</Number>
					<Key>{{device.debug_interface.key}}</Key>
					<Name>{{device.flash_dll}}</Name>
				</SetRegEntry>
			</TargetDriverDllRegistry>
		</TargetOption>
	</Target>
</ProjectOpt>
